nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(246,184,16);
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
  box-shadow: 0 5px 15 px rgba(221,165,14, 0.06);
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style:none;
  padding: 0 20px;
  position: relative;
}

.divizor{
  font-weight: 1000;
  font-size: 25px;
  align-items: center;
  display: flex;
}

.navbar-title{
  padding-left: 0px;
}

#navbar li a{
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
  color: whitesmoke;
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.mobile {
  display: none;
}

.mobile i{
  color: black;
}

@media screen and (max-width:769px){
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -400px;
    width: 300px;
    height: 100vh;
    background: rgb(221,165,14);
    box-shadow: 0 40px 60px;
    padding: 40px 0 0 10px;
    transition: 0.6s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li{
    margin-bottom: 25px;
  }

  .mobile {
    display: block;
  }

  .mobile i{
    font-size: 24px;
    cursor: pointer;
  }

  .divizor{
    display: flex;
    margin-top: -25px;
    margin-left: 85px;
  }
}